{{>header}}
<title>Luxury Furniture</title>
{{>navbar}}
<div class="container-fluid mt-2">
  <div class="accordion  " id="accordionExample">
  <h5 class="background text-center p-2 mt-1">About Section</h5>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       About our Company
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel ea, deserunt labore sunt magni excepturi nemo voluptatibus atque. Quaerat corrupti ab odit cum eaque reprehenderit possimus inventore illum, quod id necessitatibus quia odio, nesciunt ipsam iusto optio quos modi ea accusamus! Consequuntur accusantium velit sed necessitatibus earum ea quae! Ad, ipsum. Quis ullam inventore sint odit, cupiditate enim aspernatur tenetur ipsam in aliquid ex possimus, delectus molestiae quaerat rem accusamus quod veritatis nihil necessitatibus libero odio. Possimus impedit maiores nemo sapiente eius ipsum nobis! Tenetur aperiam modi ipsa, minima omnis voluptas iste fuga nam? Voluptates omnis nostrum laudantium rem!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laudantium quaerat totam voluptates eaque, porro officiis laboriosam, repudiandae eveniet nobis quam sapiente labore in commodi! Ullam excepturi, nisi suscipit minima vitae quod soluta et maxime hic. Voluptate unde, sed, autem eveniet, alias nam aliquam porro dolor in ea iusto consectetur. Repudiandae reprehenderit accusamus rerum ipsam quidem nisi facilis aut magni, quo dignissimos voluptate expedita. Vero corporis, sit quae rem voluptatum ad unde. Atque quo quia numquam facere cumque perferendis eius laboriosam alias consectetur earum dolorum eum vel, eos, nostrum doloremque pariatur reiciendis veniam! Asperiores optio aliquam in nostrum enim voluptate.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        About our Team
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, quos eum nostrum magni tenetur ex alias aut reiciendis dolorem aperiam neque qui optio iste rerum repudiandae ullam, iusto officiis possimus reprehenderit repellat at est asperiores in? Saepe tenetur necessitatibus excepturi ipsa eos sed quaerat commodi labore iure repudiandae inventore asperiores vero perspiciatis repellat officiis nam, vel iste et maxime? Repellendus quod natus voluptatum quae. Saepe placeat aut soluta fugit dolorum similique necessitatibus eligendi id voluptatem officiis dolorem reiciendis autem ipsam ea iste distinctio est praesentium, rerum minima? Vel perferendis voluptatibus reiciendis adipisci atque repellat deleniti aspernatur voluptate aliquam. Dicta ipsa aliquam facilis adipisci eveniet ipsum soluta, ratione laborum blanditiis eos beatae, maiores labore accusantium. Unde ab omnis voluptatibus odit qui maxime velit blanditiis quisquam! Corrupti ullam neque suscipit quia eveniet? Ut vero ipsa placeat fuga optio atque dignissimos a dolore soluta et. Quia maxime nam perferendis reiciendis odio unde, eveniet eum facere vitae. Accusantium in maiores ratione soluta labore doloribus officia molestias libero, rerum adipisci repudiandae, corrupti quas itaque ducimus accusamus porro ullam consequuntur deleniti facilis. Ullam itaque, animi, nihil minus quasi pariatur officia harum sequi dolore eveniet dolorem, quas earum optio eaque tenetur! Maiores ad vero necessitatibus molestias hic?
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        About Our Services
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
</div>
{{>footer}}