{{>header}}
<title>Luxury Furniture</title>
{{>navbar}}
<div class="container-fluid  mt-2">
    <h5 class="background text-center p-2 mt-1">Gallery</h5>
    <div class="row">
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic1.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic2.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic3.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic4.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic5.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic6.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic7.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic8.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic9.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic10.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic11.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic12.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic13.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic14.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic15.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic16.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic17.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic18.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic19.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic20.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic21.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic22.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic23.jpg" class="w-100 rounded" height="350px">
        </div>
        <div class=" col-md-4 col-sm-6 col-12 mb-4"> 
            <img src="./images/pic24.jpg" class="w-100 rounded" height="350px">
        </div>
      
        
    </div>
</div>
{{>footer}}