{{>header}}

<title>LuxuryFarniture </title>
{{>navbar}}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
            aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
            aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
            aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9"
            aria-label="Slide 10"></button>
    
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./images/pic1.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./images/pic2.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./images/pic3.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        <div class="carousel-item ">
            <img src="./images/pic4.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./images/pic5.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./images/pic6.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        <div class="carousel-item ">
            <img src="./images/pic7.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./images/pic8.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./images/pic9.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        <div class="carousel-item ">
            <img src="./images/pic10.jpg" height="500px" class="d-block  w-100" alt="...">
        </div>
        

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    

</div>
<div class="container-fluid">
    <h5 class="background text-center p-2 mt-1">Our Services</h5>
    <div class="service1">
        <img src="./images/pic11.jpg"  height="300px">
        <p>Lorem ipsum dolor sit, amet cwidth="100% "onsectetur adipisicing elit. Doloremque fugiat perspiciatis, sint eos culpa nihil similique sit odit sapiente iste tempore quibusdam nesciunt saepe labore est magnam nisi adipisci harum doloribus nemo necessitatibus ipsum libero commodi. Suscipit numquam vel odio nostrum nulla, excepturi, illo ullam itaque quam provident, enim doloribus tenetur qui sed! Eum ratione eveniet praesentium doloribus molestias, voluptates earum quisquam eius quo, molestiae unde ea id libero nesciunt quod nostrum repudiandae aliquam animi pariatur nisi? Tempora dolorem expedita ullam distinctio, reprehenderit laborum, commodi tempore sunt numquam eum dicta! Inventore totam minima dolore sapiente id cumque! Beatae, ipsam laborum.</p>
    </div>
    <div class="service2">
        <img src="./images/pic16.jpg"  height="300px">
        <p>Lorem ipsum dolor sit, amet cwidth="100% "onsectetur adipisicing elit. Doloremque fugiat perspiciatis, sint eos culpa nihil similique sit odit sapiente iste tempore quibusdam nesciunt saepe labore est magnam nisi adipisci harum doloribus nemo necessitatibus ipsum libero commodi. Suscipit numquam vel odio nostrum nulla, excepturi, illo ullam itaque quam provident, enim doloribus tenetur qui sed! Eum ratione eveniet praesentium doloribus molestias, voluptates earum quisquam eius quo, molestiae unde ea id libero nesciunt quod nostrum repudiandae aliquam animi pariatur nisi? Tempora dolorem expedita ullam distinctio, reprehenderit laborum, commodi tempore sunt numquam eum dicta! Inventore totam minima dolore sapiente id cumque! Beatae, ipsam laborum.</p>
    </div>
    <div class="service1">
        <img src="./images/pic13.jpg"  height="300px">
        <p>Lorem ipsum dolor sit, amet cwidth="100% "onsectetur adipisicing elit. Doloremque fugiat perspiciatis, sint eos culpa nihil similique sit odit sapiente iste tempore quibusdam nesciunt saepe labore est magnam nisi adipisci harum doloribus nemo necessitatibus ipsum libero commodi. Suscipit numquam vel odio nostrum nulla, excepturi, illo ullam itaque quam provident, enim doloribus tenetur qui sed! Eum ratione eveniet praesentium doloribus molestias, voluptates earum quisquam eius quo, molestiae unde ea id libero nesciunt quod nostrum repudiandae aliquam animi pariatur nisi? Tempora dolorem expedita ullam distinctio, reprehenderit laborum, commodi tempore sunt numquam eum dicta! Inventore totam minima dolore sapiente id cumque! Beatae, ipsam laborum.</p>
    </div>
    <div class="service2">
        <img src="./images/pic14.jpg"  height="300px">
        <p>Lorem ipsum dolor sit, amet cwidth="100% "onsectetur adipisicing elit. Doloremque fugiat perspiciatis, sint eos culpa nihil similique sit odit sapiente iste tempore quibusdam nesciunt saepe labore est magnam nisi adipisci harum doloribus nemo necessitatibus ipsum libero commodi. Suscipit numquam vel odio nostrum nulla, excepturi, illo ullam itaque quam provident, enim doloribus tenetur qui sed! Eum ratione eveniet praesentium doloribus molestias, voluptates earum quisquam eius quo, molestiae unde ea id libero nesciunt quod nostrum repudiandae aliquam animi pariatur nisi? Tempora dolorem expedita ullam distinctio, reprehenderit laborum, commodi tempore sunt numquam eum dicta! Inventore totam minima dolore sapiente id cumque! Beatae, ipsam laborum.</p>
    </div>
    <div class="service1">
        <img src="./images/pic15.jpg"  height="300px">
        <p>Lorem ipsum dolor sit, amet cwidth="100% "onsectetur adipisicing elit. Doloremque fugiat perspiciatis, sint eos culpa nihil similique sit odit sapiente iste tempore quibusdam nesciunt saepe labore est magnam nisi adipisci harum doloribus nemo necessitatibus ipsum libero commodi. Suscipit numquam vel odio nostrum nulla, excepturi, illo ullam itaque quam provident, enim doloribus tenetur qui sed! Eum ratione eveniet praesentium doloribus molestias, voluptates earum quisquam eius quo, molestiae unde ea id libero nesciunt quod nostrum repudiandae aliquam animi pariatur nisi? Tempora dolorem expedita ullam distinctio, reprehenderit laborum, commodi tempore sunt numquam eum dicta! Inventore totam minima dolore sapiente id cumque! Beatae, ipsam laborum.</p>
    </div>
</div>
{{>footer}}